#define IDI_POWERMODE_BALANCED 101
#define IDI_POWERMODE_PERFORMANCE 102
#define IDI_POWERMODE_EFFICIENCY 103

IDI_POWERMODE_BALANCED ICON "assets/balance.ico"
IDI_POWERMODE_PERFORMANCE ICON "assets/performance.ico"
IDI_POWERMODE_EFFICIENCY ICON "assets/eco.ico"
